h1{
  color: rgb(5, 88, 40);
  text-align: center;
}

p{
  color: rgb(6, 206, 16);
  font-family: sans-serif;
}

body{
  background-color: rgb(118, 228, 123);
}

ul{
  font-size: 20px;
  line-height: 30px;
}